[submodule "mapper-tool-github"]
	path = mapper-tool-github
	url = https://github.com/cphoover/mapper-tool-github.git
[submodule "sync-github"]
	path = sync-github
	url = https://github.com/cphoover/sync-github.git
[submodule "ui-github"]
	path = ui-github
	url = https://github.com/cphoover/ui-github.git
[submodule "diagrams-github"]
	path = diagrams-github
	url = https://github.com/cphoover/diagrams-github.git
[submodule "lambda-fn-save-repos"]
	path = lambda-fn-save-repos
	url = https://github.com/cphoover/lambda-fn-save-repos.git
[submodule "service-github-data"]
	path = service-github-data
	url = git@github.com:cphoover/service-github-data.git
[submodule "lambda-fn-get-repos"]
	path = lambda-fn-get-repos
	url = git@github.com:cphoover/lambda-fn-get-repos.git
